@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("roboto"),
       url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("robotomedium"),
       url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("robotobold"),
       url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #849d8f;
  color: #ffffff;

  height: 3000px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="radio"].visually-hidden,
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  vertical-align: top;
  padding: 10px 24px 10px 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #fefefe;
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  box-shadow: 0 1px 2px #ac1000;
  border: none;
  border-radius: 22px;
  cursor: pointer;
}

.button:hover {
  background-color: #f07963;
  background-image: none;
  box-shadow: 0 2px 2px #ac1000;
}

.button:active {
  background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
  box-shadow: inset 0 2px 2px #942718;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  outline: 1px solid darkgreen;
}

header {
  outline: 1px solid darkmagenta;
}

.main-header {
  display: flex;
  flex-direction: column;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav,
.user-nav,
.sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gllacy-logo {
  width: 154px;
  height: 64px;
  margin-top: 9px;
  margin-right: 10px;
}

.site-nav {
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  width: 606px;
  margin-top: 2px;
  margin-right: auto;
  /* outline: 1px solid darkred; */
}

.site-nav li {
  position: relative;
  margin-right: 1px;

}

.site-nav a {
  padding-top: 6px;
  padding-right: 13px;
  padding-bottom: 7px;
  padding-left: 14px;
  font-size: inherit;
  line-height: 18px;
  color: #ffffff;

}

.site-nav-item > a::before {
  content: "";
  position: absolute;
  bottom: 1px;
  height: 1px;
  width: calc(100% - 27px);
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

.site-nav-item > a:hover,
.site-nav-item > a:focus {
  color: #323232;
  background-color: #f7f6f3;
  border-radius: 50px;
}

.site-nav-item > a:active {
  color: #323232;
  background-color: #ededed;
  box-shadow: inset 0 2px 1px #696969;
}

.site-nav-item--current > a,
.site-nav-item--current > a:hover,
.site-nav-item--current > a:active {
  color: #ffffff;
  background-color: #d07058;
  border-radius: 50px;
  box-shadow: none;
}

.sub-menu {
  position: absolute;
  top: 33px;
  left: -7px;
  min-width: 143px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  display: none;
}

.sub-menu::before {
  position: absolute;
  left: 0;
  top: -7px;
  content: "";
  width: 83px;
  height: 10px;
  background-color: transparent;
  /* background-color: #000; */
}

.sub-menu:hover + a {
  color: #323232;
  background-color: #f7f6f3;
  border-radius: 50px;
}

.inner-page .sub-menu:hover + a,
.inner-page .sub-menu + a:focus {
  color: #ffffff;
  background-color: #d07058;
  border-radius: 50px;
}

.site-nav > li:hover .sub-menu {
  display: block;
}

.sub-menu-item {
  width: 100%;
}

.sub-menu a {
  display: block;
  padding: 10px;
  padding-bottom: 5px;
  padding-left: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.sub-menu a:hover {
  color: #323232;
  background-color: #fbded8;
}

.sub-menu a:active {
  color: #323232;
  background-color: #f6b5a5;
}

.sub-menu-item:first-child a {
  padding-top: 10px;
  padding-bottom: 12px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 700;
}

.sub-menu-item:last-child  a {
  padding-bottom: 13px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


.sub-menu-item--current a,
.sub-menu-item--current a:hover,
.sub-menu-item--current a:active {
  color: #ffffff;
  background-color: #d07058;
  cursor: default;
  user-select: none;
}


.sub-menu-item hr {
  margin: 0 9px 0 6px;
  margin-right: 9px;
  margin-left: 6px;
  border: none;
  height: 1px;
  background-color: #d1d0ce;
}


.user-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* align-items: baseline; */
  width: 300px;
  margin-top: 7px;
  /* outline: 1px solid darkred; */
}

.user-nav li {
  margin-left: 10px;
}

.search-item {
  width: 33px;
  height: 33px;
  margin-top: -4px;
  margin-right: -4px;
}

.search-form {
  position: relative;
}

.search-wrapper {
  position: absolute;
  top: 21px;
  right: 1px;
  display: none;
  padding: 20px 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.search-form:hover .search-wrapper {
  display: block;
}

.search-wrapper::before {
  position: absolute;
  right: 0;
  top: -7px;
  content: "";
  width: 43px;
  height: 10px;
  background-color: transparent;
  /* background-color: #000; */
}


.search-wrapper:hover + .search-button {
  background-color: #f7f6f3;
  background-image: url("../img/search-icon-dark.svg");
}

.search-wrapper input {
  width: 311px;
  padding: 12px 13px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #323232;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.search-wrapper input:hover {
  padding: 11px 12px;
  border: 2px solid #c7c6c5;
}

.search-wrapper input:focus {
  padding: 11px 12px;
  border: 2px solid #8fbdec;
}

input[type="search"]::placeholder,
.login-form-field input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.search-button {
  display: inline-block;
  vertical-align: top;
  width: 33px;
  height: 33px;
  margin-right: 45px;
  padding: 10px;
  font-weight: bold;
  /* font-size: 16px; */
  /* line-height: 22px; */
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 0;
  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.user-link,
.search-button {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

.search-button:hover,
.search-button:focus {
  background-image: url("../img/search-icon-dark.svg");
}

.user-link:hover,
.search-button:hover,
.user-link:focus,
.search-button:focus {
  color: #323232;
  background-color: #f8f7f4;
}

.user-link {
  position: relative;
  padding-top: 7px;
  padding-right: 17px;
  padding-bottom: 8px;
  padding-left: 44px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.user-link--login {
  /* position: relative; */
  margin-left: 4px;
  padding-left: 43px;
}

.user-link--login::before,
.user-link--cart::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 16px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-link--login::before {
  width: 21px;
  height: 19px;

  background-image: url("../img/login-icon.svg");
}

.user-link--cart::before {
  width: 21px;
  height: 20px;

  background-image: url("../img/cart-icon.svg");
}

.user-link--login:hover::before,
.user-link--login:focus::before {
  background-image: url("../img/login-icon-dark.svg");
}

.user-link--cart:hover::before,
.user-link--cart:focus::before {
  background-image: url("../img/cart-icon-dark.svg");
}

.cart-with-goods {
  color: #323232;
  background-color: #f7f6f3;
}

.cart-with-goods::before,
.cart-with-goods:hover::before,
.cart-with-goods:focus::before {
  background-image: url("../img/cart-icon-with-goods.svg");
}

.login-item {
  position: relative;
}

.login-item::before {
  position: absolute;
  right: 0;
  top: 25px;
  content: "";
  width: 94px;
  height: 10px;
  background-color: transparent;
  /* background-color: #000; */
}

.login-form {
  position: absolute;
  top: 33px;
  right: -1px;
  display: none;
  padding: 20px 17px 22px 19px;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.login-form::before {
  position: absolute;
  right: 0;
  top: -7px;
  content: "";
  width: 94px;
  height: 10px;
  background-color: transparent;
  /* background-color: #000;*/
}

.login-item:hover .login-form {
  display: block;
}

.login-form:hover + a {
  color: #323232;
  background-color: #f7f6f3;
}

.login-form:hover + .user-link--login::before {
  background-image: url("../img/login-icon-dark.svg");
}

.login-form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 241px;
}

.login-form p {
  margin: 0;
  margin-bottom: 20px;
}

.login-form input {
  width: 241px;
  padding: 8px 13px 10px 13px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #323232;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.login-form input:hover {
  padding: 7px 12px 9px 12px;
  border: 2px solid #c7c6c5;
}

.login-form input:focus {
  padding: 7px 12px 9px 12px;
  border: 2px solid #8fbdec;
}

.login-form-button {
  align-self: flex-start;
  margin-right: auto;
  padding-right: 25px;
}

.login-form-help {
  margin: 0;
  padding: 0;
  list-style: none;
}

.help-item {
  margin-top: -2px;
  margin-bottom: -4px;
}

.help-item a {
  position: relative;
  margin-right: 2px;
  color: #323232;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.help-item a::before {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.help-item a:hover,
.help-item a:active {
  color: #e84d37;
}

.help-item a:hover::before,
.help-item a:active::before {
  background-color: rgba(232, 77, 55, 0.3);
}

.cart-item {
  position: relative;
}

.cart-item-wrapper {
  position: absolute;
  top: 33px;
  right: 0;
  width: 540px;
  padding: 5px;
  padding-bottom: 21px;
  background-color: #f8f7f4;
  text-align: left;
  border-radius: 5px;
  display: none;
}

.cart-popup-table {
  width: 100%;
  margin-bottom: 15px;
  background-color: #f8f7f4;
  border-collapse: collapse;
}

.cart-popup-cell {
  vertical-align: top;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.cell-1 {
  width: 36px;
  /* text-align: center; */
  padding-top: 24px;
  padding-left: 5px;
}

.cell-2 {
  width: 35px;
  padding-top: 15px;
}

.cell-3 {
  width: 253px;
  padding-top: 24px;
  padding-right: 17px;
  padding-left: 11px;
}

.cell-4 {
  width: 114px;
  /* padding: 24px 0px 0px 0px; */
  padding-top: 24px;
}

.cell-5 {
  width: 82px;
  /* padding: 24px 0px 0px 7px; */
  padding-top: 24px;
  padding-left: 7px;
}

.cart-popup-cell span {
  color: #999999;
}

.cart-delete-product {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-popup-table hr {
  width: calc(100% - 18px);
  height: 1px;
  background-color: #cacac7;
  border: none;
}

.cart-popup-cell--hr {
  padding-top: 9px;
}

.cell-total-sum  {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  padding: 0;
  padding-top: 5px;
  padding-right: 8px;
}

.cart-item-wrapper p {
  margin: 0;
  padding-right: 10px;
  text-align: right;
}

.cart-popup-button {
  align-self: flex-end;
  margin-right: auto;
  padding: 8px 14px 12px 14px;
}

.cart-item:hover .cart-item-wrapper {
  display: block;
}


.cart-item-wrapper::before {
  position: absolute;
  right: 0;
  top: -7px;
  content: "";
  width: 119px;
  height: 10px;
  background-color: transparent;
  /* background-color: #000;*/
}


.working-hours {
  align-self: flex-end;
  margin-top: -1px;
}

.working-hours p {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: inherit;
}

.working-hours p:nth-child(2) {
  margin-right: -1px;
}

.working-hours a {
  font-size: 22px;
  line-height: 24px;
  text-align: right;
  color: inherit;
}
